

<div class="wrapper" id="loginform">
  <div class="container main">
      <div class="row">
          <div class="col-md-6 side-image" id="title">
                     
              <!-------------      image     ------------->
              
              <img src="" alt="">
              <div class="text">
                  <p>Welcome to Trackpayout.</p>
                  <span><i>The Powerfull Payment Tracker</i></span>
              </div>
              
          </div>
          <div class="col-md-6 right" id="logindiv">
              
              <div class="input-box" id="loginformpage">
                 
                 <header>Hello, Welcome back..!</header>
                 <h3>Please Enter E-mail Address and Password to get login in our Application.</h3>
                 <form [formGroup]="signinFormGroup" (ngSubmit)="signIn()">
                 <div class="input-field" id="emailid">
                      <input type="text" class="input" id="email" required="" autocomplete="off" formControlName="email"  
                      [ngClass]="{ 'is-invalid': submitted && getFormControls['email'].errors }" required>
                      <label for="email">Email</label> 
                      <div *ngIf="submitted && getFormControls['email'].errors" class="invalid-feedback">
                        <div *ngIf="getFormControls['email'].errors" class="error">
                            Email id is required and must be a valid email
                        </div>
                    </div>
                  </div> 
                 <div class="input-field" id="password">
                      <input type="password" class="input" id="pass"   formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && getFormControls['password'].errors }" required>
                      <label for="password">Password</label>
                      <div *ngIf="submitted && getFormControls['password'].errors" class="invalid-feedback">
                        <div *ngIf="getFormControls['password'].errors" class="error">
                            Password is required
                        </div>
                    </div>
                  </div> 
                 <div class="input-field" id="submitbtn">
                      
                      <input type="submit" class="submit" value="Sign In">
                 </div> 
                 <div class="signin" id="resetlink">
                  <span>Forgot Password? <a [routerLink]="['/auth/reset']">Reset</a></span>
                 </div>
                </form> 
              </div>  
          </div>
      </div>
  </div>
</div>
